Repository outhanchazima/org.triply: changes, and which lint-staged commands are due for each by the changed paths.
All: npx nx affected:lint --fix, npx nx format:write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["npx nx affected:lint --fix", "npx nx format:write"],
  "*.{json,md,yml,yaml}": ["npx nx format:write"],
  "*.{js,jsx,ts,tsx,json,md,yml,yaml}": ["git add"]
}

chore: scaffold triply.payments microservice with e2e tests
  .vscode/launch.json
  apps/triply.payments-e2e/.spec.swcrc
  apps/triply.payments-e2e/eslint.config.mjs
  apps/triply.payments-e2e/jest.config.cts
  apps/triply.payments-e2e/package.json
  apps/triply.payments-e2e/src/support/global-setup.ts
  apps/triply.payments-e2e/src/support/global-teardown.ts
  apps/triply.payments-e2e/src/support/test-setup.ts
  apps/triply.payments-e2e/src/triply.payments/triply.payments.spec.ts
  apps/triply.payments-e2e/tsconfig.json
  apps/triply.payments/.spec.swcrc
  apps/triply.payments/eslint.config.mjs
  apps/triply.payments/jest.config.cts
  apps/triply.payments/package.json
  apps/triply.payments/src/app/app.controller.spec.ts
  apps/triply.payments/src/app/app.controller.ts
  apps/triply.payments/src/app/app.module.ts
  apps/triply.payments/src/app/app.service.spec.ts
  apps/triply.payments/src/app/app.service.ts
  apps/triply.payments/src/assets/.gitkeep
  apps/triply.payments/src/main.ts
  apps/triply.payments/tsconfig.app.json
  apps/triply.payments/tsconfig.json
  apps/triply.payments/tsconfig.spec.json
  apps/triply.payments/webpack.config.js
  nx.json
  package-lock.json
  package.json
  tsconfig.json
Due: npx nx affected:lint --fix, npx nx format:write

chore: remove eslint-disable comments from jest configs
  apps/triply.payments-e2e/jest.config.cts
  apps/triply.payments/jest.config.cts
Due: none

chore: standardize Nx project configuration and add module boundary rules
  apps/triply.api-e2e/package.json
  apps/triply.api/package.json
  apps/triply.payments-e2e/package.json
  apps/triply.payments/package.json
  eslint.config.mjs
  libs/amadeus/package.json
  libs/database/package.json
  libs/shared/package.json
  libs/utils/package.json
  nx.json
  package-lock.json
Due: npx nx format:write

chore: remove unused utils library
  libs/utils/.spec.swcrc
  libs/utils/README.md
  libs/utils/eslint.config.mjs
  libs/utils/jest.config.ts
  libs/utils/package.json
  libs/utils/src/index.ts
  libs/utils/src/lib/utils.module.ts
  libs/utils/tsconfig.json
  libs/utils/tsconfig.lib.json
  libs/utils/tsconfig.spec.json
  package.json
  tsconfig.json
Due: npx nx affected:lint --fix, npx nx format:write

feat(database): add auth persistence layer and robust connection wiring
  libs/database/README.md
  libs/database/package.json
  libs/database/src/index.ts
  libs/database/src/lib/database.module.ts
  libs/database/src/lib/decorators/index.ts
  libs/database/src/lib/dtos/auth.dto.ts
  libs/database/src/lib/dtos/index.ts
  libs/database/src/lib/filters/index.ts
  libs/database/src/lib/interceptors/index.ts
  libs/database/src/lib/interfaces/index.ts
  libs/database/src/lib/modules/PATTERNS.md
  libs/database/src/lib/modules/auth-database.module.ts
  libs/database/src/lib/modules/index.ts
  libs/database/src/lib/repositories/audit-log.repository.ts
  libs/database/src/lib/repositories/base-mongo.repository.ts
  libs/database/src/lib/repositories/business-membership.repository.ts
  libs/database/src/lib/repositories/business.repository.ts
  libs/database/src/lib/repositories/index.ts
  libs/database/src/lib/repositories/refresh-token.repository.ts
  libs/database/src/lib/repositories/system-user-profile.repository.ts
  libs/database/src/lib/repositories/traveller-profile.repository.ts
  libs/database/src/lib/repositories/user.repository.ts
  libs/database/src/lib/schemas/audit-log.schema.ts
  libs/database/src/lib/schemas/business-membership.schema.ts
  libs/database/src/lib/schemas/business.schema.ts
  libs/database/src/lib/schemas/enums.ts
  libs/database/src/lib/schemas/index.ts
  libs/database/src/lib/schemas/refresh-token.schema.ts
  libs/database/src/lib/schemas/system-user-profile.schema.ts
  libs/database/src/lib/schemas/traveller-profile.schema.ts
  libs/database/src/lib/schemas/user.schema.ts
  libs/database/src/lib/services/index.ts
  libs/database/src/lib/services/mongo.service.ts
  libs/database/src/lib/services/postgres.service.ts
  libs/database/src/lib/services/redis.service.ts
  libs/database/src/lib/utils/index.ts
Due: npx nx affected:lint --fix, npx nx format:write

feat(api): wire auth/database modules and expand environment config
  .env.example
  apps/triply.api/src/app.module.ts
  apps/triply.api/src/config/env.ts
  apps/triply.api/src/modules/auth/auth.module.ts
  apps/triply.api/tsconfig.app.json
  package-lock.json
  package.json
Due: npx nx affected:lint --fix, npx nx format:write

chore(workspace): simplify nx ts plugin config and add amadeus barrels
  libs/amadeus/src/lib/client/index.ts
  libs/amadeus/src/lib/services/index.ts
  libs/amadeus/src/lib/types/index.ts
  nx.json
Due: npx nx affected:lint --fix, npx nx format:write

docs: add setup, specifications, and local development task notes
  .vscode/tasks.json
  ENV_SETUP.md
  PROMPT.txt
  SKILLS.md
  SPECIFICATIONS.md
Due: npx nx format:write

feat(database): support onboarding and auth repository flows
  libs/database/src/lib/repositories/audit-log.repository.ts
  libs/database/src/lib/repositories/business-membership.repository.ts
  libs/database/src/lib/repositories/business.repository.ts
  libs/database/src/lib/repositories/user.repository.ts
  libs/database/src/lib/schemas/business.schema.ts
  libs/database/src/lib/schemas/enums.ts
Due: npx nx affected:lint --fix, npx nx format:write

feat(shared-auth): implement passwordless flows and context switching
  libs/shared/src/lib/auth/auth.controller.ts
  libs/shared/src/lib/auth/auth.module.ts
  libs/shared/src/lib/auth/casl/casl-ability.factory.ts
  libs/shared/src/lib/auth/guards/self-or-admin.guard.ts
  libs/shared/src/lib/auth/profile.controller.ts
  libs/shared/src/lib/auth/services/auth.service.ts
Due: npx nx affected:lint --fix, npx nx format:write

feat(shared-audit): add decorator and interceptor support
  libs/shared/src/lib/audit/audit.module.ts
  libs/shared/src/lib/audit/decorators/audit.decorator.ts
  libs/shared/src/lib/audit/decorators/index.ts
  libs/shared/src/lib/audit/index.ts
  libs/shared/src/lib/audit/interceptors/audit.interceptor.ts
  libs/shared/src/lib/audit/interceptors/index.ts
  libs/shared/src/lib/audit/services/audit.service.ts
  libs/shared/src/lib/shared.module.ts
Due: npx nx affected:lint --fix, npx nx format:write

feat(api): add auth-adjacent business, onboarding, admin, users and audit modules
  apps/triply.api/src/app.module.ts
  apps/triply.api/src/modules/admin/admin.controller.ts
  apps/triply.api/src/modules/admin/admin.module.ts
  apps/triply.api/src/modules/admin/admin.service.ts
  apps/triply.api/src/modules/audit/audit.controller.ts
  apps/triply.api/src/modules/audit/audit.module.ts
  apps/triply.api/src/modules/business/business.controller.ts
  apps/triply.api/src/modules/business/business.module.ts
  apps/triply.api/src/modules/business/business.service.ts
  apps/triply.api/src/modules/onboarding/onboarding.controller.ts
  apps/triply.api/src/modules/onboarding/onboarding.module.ts
  apps/triply.api/src/modules/onboarding/onboarding.service.ts
  apps/triply.api/src/modules/users/users.controller.ts
  apps/triply.api/src/modules/users/users.module.ts
  apps/triply.api/src/modules/users/users.service.ts
Due: npx nx affected:lint --fix, npx nx format:write

chore(config): add APP_URL environment setting
  .env.example
  apps/triply.api/src/config/env.ts
Due: npx nx affected:lint --fix, npx nx format:write

feat(database): add file asset metadata schema and repository
  libs/database/src/index.ts
  libs/database/src/lib/modules/auth-database.module.ts
  libs/database/src/lib/repositories/file-asset.repository.ts
  libs/database/src/lib/repositories/index.ts
  libs/database/src/lib/schemas/business.schema.ts
  libs/database/src/lib/schemas/file-asset.schema.ts
  libs/database/src/lib/schemas/index.ts
Due: npx nx affected:lint --fix, npx nx format:write

feat(shared): add pluggable file upload module
  libs/shared/package.json
  libs/shared/src/index.ts
  libs/shared/src/lib/file-upload/config/storage.config.ts
  libs/shared/src/lib/file-upload/constants/file-upload.constants.ts
  libs/shared/src/lib/file-upload/dto/upload-file-response.dto.ts
  libs/shared/src/lib/file-upload/file-upload.module.ts
  libs/shared/src/lib/file-upload/files.controller.ts
  libs/shared/src/lib/file-upload/files.service.ts
  libs/shared/src/lib/file-upload/index.ts
  libs/shared/src/lib/file-upload/interfaces/storage-service.interface.ts
  libs/shared/src/lib/file-upload/interfaces/uploaded-stored-file.interface.ts
  libs/shared/src/lib/file-upload/pipes/parse-mongo-id.pipe.ts
  libs/shared/src/lib/file-upload/storage/local-storage.service.ts
  libs/shared/src/lib/file-upload/storage/s3-storage.service.ts
  libs/shared/src/lib/file-upload/storage/storage.module.ts
  libs/shared/src/lib/file-upload/storage/streaming-multer.storage.ts
  libs/shared/src/lib/file-upload/utils/file-upload.util.ts
  libs/shared/src/lib/shared.module.ts
  libs/shared/src/lib/utils/sanitize.util.ts
Due: npx nx affected:lint --fix, npx nx format:write

feat(onboarding): integrate kyc document uploads and storage config
  .env.example
  apps/triply.api/src/config/env.ts
  apps/triply.api/src/main.ts
  apps/triply.api/src/modules/onboarding/dto/upload-kyc-document-file.dto.ts
  apps/triply.api/src/modules/onboarding/onboarding.controller.ts
  apps/triply.api/src/modules/onboarding/onboarding.service.ts
Due: npx nx affected:lint --fix, npx nx format:write

feat(business): created operational endpoints
  apps/triply.api/src/modules/admin/admin.controller.ts
  apps/triply.api/src/modules/admin/admin.service.ts
  apps/triply.api/src/modules/admin/dto/system-users-query.dto.ts
  apps/triply.api/src/modules/admin/dto/update-system-user.dto.ts
  apps/triply.api/src/modules/business/business.controller.ts
  apps/triply.api/src/modules/business/business.service.ts
  apps/triply.api/src/modules/business/dto/update-business.dto.ts
  apps/triply.api/src/modules/users/dto/update-user-profile.dto.ts
  apps/triply.api/src/modules/users/dto/users-query.dto.ts
  apps/triply.api/src/modules/users/users.controller.ts
  apps/triply.api/src/modules/users/users.service.ts
  libs/database/src/lib/repositories/business.repository.ts
  libs/database/src/lib/repositories/user.repository.ts
  libs/shared/src/lib/shared.module.ts
Due: npx nx affected:lint --fix, npx nx format:write

docs: update root and library readmes for new workflows
  README.md
  libs/database/README.md
  libs/shared/README.md
Due: npx nx format:write

fix(business): remnove duplicate schema index
  libs/database/src/lib/schemas/system-user-access-policy.schema.ts
Due: npx nx affected:lint --fix, npx nx format:write
